@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*
{
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}
body
{
   
   background-image: url("../images/background\ image.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   font-family: 'Source Sans Pro', sans-serif;


}

#mainblock
{
 height: 400px; 
 width: 400px;
 background-color: aliceblue;  
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 /* justify-content: flex-start; */
}
#mainblockcontainer
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainblock header figure img
{
    height: 70px;
    width: 70px;
    margin-top: 10px;
    border-radius: 50%;
    
}
#mainblock main h1
{
    font-size: 1.5em;
    letter-spacing: 0.22em;
    color: #313f47;
    line-height: 1.5;
    padding: 8px 0px;
   
}
#mainblock main p
{
    font-size: 0.85em;
    letter-spacing: 0.22em;
    color: #313f47;
    line-height: 1.5;
    padding: 5px 0px;
   
}
aside  {
    display: flex;
    height: 100%;
    padding-top: 10px;
   
    justify-content: space-around;
   
}
aside div
{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid crimson;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: ease all 0.7s;
    cursor: pointer;
    
}
aside div:hover
{
transform: rotateZ(360deg);
/* border: aqua; */
}
aside div:hover i
{
transform: rotateZ(360deg);
}
